body {
    margin:0;
    
}
.mint-cell-text {
    font-size: 10px;
    
}
.mint-button {
    width: 100%;
    height: 35;
}
.mint-button-primary {
    background-color: aqua;
}
.mint-button-text {
    
 
    vertical-align: middle;
    text-align: center;
}